{% extends "layout.html" %}

{% block content %}
        <section class="header">
            <h1>Edward Citalan</h1>
            <p> Now that I have finished the tech degree and know how to use flask—my next goal is two-fold to learn more about python’s back-end so that later I can develop an ML model. 

            </p>
        
            <img src="static\images\machine-learning-computer.jpg" alt="Robot arm using computer">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>How I used python in the past.             
            </h2>
            <p>
                Before learning Python for the backend, I learn python for data analysis as well as running some ML models in notebooks.
                If interested, please check out my resume where I have a brief summary as well as the notebooks containing my analysis. 
            </p>
            
            <a href="https://docs.google.com/document/d/1MZ880lQ5pc2VVFjqq0k8tE_it_OY8ckjwXE0PzJwgFs/edit?usp=sharing"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}